{% extends 'blog/base.html' %}

{% block content %}
<p id="blog_header">Обо мне</p>
    <div class="content_box">
          
            <p id="not_a_blog"> Меня зовут Аня, и это мой первый сайт сделанный на джанго. Я писала его три дня и три ночи с помощью <a href="https://tutorial.djangogirls.org/ru/" class="global">руководства Django Girls</a> и книги некоего Адриана Головатого.
              <br>Возможно когда-нибудь я допишу сюда побольше текста. Бла бла бла
              <br>Поиск еще не готов, когда-нибудь я и его сделаю тоже.
            </p>
          
        </div>
{% endblock %}