{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
    <link rel="stylesheet" href="{% static 'css/site_num_one.css' %}">
     
</head>
<body>
  
    <nav id="slide_menu">
      <img id="close_menu" width="31" src="{% static 'my_site/close_menu.png' %}">
      <img id="open_menu" width="38" src="{% static 'my_site/open_menu.png' %}">
       <div class="navigation">
          <a id="logo" href="{% url 'index' %}">Logo&name</a>
            <div class="portrait_circle">
              <a href="{% url 'index' %}" ><img width="120" src="{% static 'my_site/unicorn.png' %}"></a>
            </div>
        </div>
            
            
            <ul class="menu">
                <li> <a href="{% url 'about_me' %}">Об авторе</a> </li>
                <li> <a href="{% url 'portfolio' %}">Портфолио</a></li>
                <li> <a href="{% url 'post_list' %}">Блог</a></li>
                <li> <a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
       
        <div class="social">
            <a href="https://vk.com/oljhovic" target="blank"><img src="{% static 'my_site/if_vkontakte_279378.png' %}"></a>
            
            <a href="https://plus.google.com/u/0/107331967706382427327" target="blank"><img src="{% static 'my_site/if_google_plus_279406.png' %}"></a>
            
            <a href="#" target="blank"><img src="{% static 'my_site/if_facebook_fb_social_social_media_279409.png' %}"></a>
        </div>
       
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

<script src="{% static 'my_site/menu.js' %}"></script>

</body>
</html>





</body>
</html>


