@import url('https://fonts.googleapis.com/css?family=Lora:700|Montserrat|Roboto:300');

body {
    background-color: white;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

/*.flex_container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;

}*/

#slide_menu {
    background-color: whitesmoke;
    min-height: 100%;
    width: 375px;
    flex-grow: 0;
    flex-shrink: 0;
    position: fixed;
    left: 0px;
    display: block;
}

#close_menu {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    opacity: 0.27;
    transition: opacity 600ms;
}

#open_menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    opacity: 0.27;
    transition: opacity 600ms;
}

#close_menu:hover {
    opacity: 0.58;
}

#open_menu:hover {
    opacity: 0.58;
}

.navigation {
    padding-top: 90px;
    padding-bottom: 90px;
    width: 375px;
    min-height: 100%;
    background-color: whitesmoke;
}

.portrait_circle {
    width: 130px;
    height:130px;
    border-radius: 50%;
    background-color: hotpink;
    margin: 0 auto;
}

.menu {
    padding-top: 50px;
    list-style-type: none; 
}

.site_name {
    margin: 0 auto;
    text-align: center;
}

#logo {
    text-decoration: none;
    color: darkgray;
    font-size: 38px;
    padding: 0 83px;
    color: black;
    font-family: 'Lora', serif;
}

.menu li {
    margin-top: 19px;
    margin-left: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    transition: color 800ms;
}

#active_link {
    color: hotpink;
}

.menu a:hover {
    color: hotpink;
}


.social {
    text-align: center;
    padding-top: 40%;
    padding-bottom: 60%;
    margin-left: -120px;
}

.social img {
    padding-left: 2.5%;
}

main {
    background-color: white;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    padding-left: 375px;
}

main #blog_header {
    padding-top: 55px;
    padding-left: 10%;
    font-size: 38px;
    font-family: 'Lora', serif;
}

.content_box {
    background-color: white;
    width: 85%;
    margin-left: 7%;
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 15px;
    max-width: 900px;
    min-width: 490px;
}

.content_box #not_a_blog {
    font-family: 'Roboto', sans-serif;
    margin: 2.5% 3.5%;
}

.content_box a {
    text-decoration: none;
    color: hotpink;
}

.header {
    margin: 2.5% 3.5%;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
    font-size: 26px;
    transition: color 800ms;
}

.header a:hover {
    color: hotpink;
}

#date {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: -25px;
}

.text_box {
    font-family: 'Roboto', sans-serif;
    margin: 2.5% 3.5%;
    
}


















